{{!< default}}
<div class="container">
	<div class="jumbotron"><img src="/images/rocket.png" width="160">
		<h1>Welcome to Mission Control</h1>
		<p>This is where we manage the Startup Acclerator: MongoDB for Startups</p>
		
		
		<hr>
		
	</div>
</div>
