{{!< default}}
<div class="container">
	<div class="jumbotron"><img src="/images/rocket.png" width="160">
		<h1>Welcome to MongoDB for Startups - Mission Control</h1>
		<p>This is where we manage the Startup Acclerator: MongoDB for Startups</p>
		<div class="row">
			<div class="col-md-4">
				<iframe style="border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="340" height="340" src="https://charts.mongodb.com/charts-lynn-qercf/embed/charts?id=d0b524c6-9f9d-4fd5-a62c-e0c66fae2cdc&tenant=4b02172e-aa94-4cac-8563-4e5934642ec7"></iframe>
			</div>
			<div class="col-md-4"><iframe style="border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="340" height="340" src="https://charts.mongodb.com/charts-lynn-qercf/embed/charts?id=db671e1d-e1c5-4f11-8cd4-ea2dcd259cf3&tenant=4b02172e-aa94-4cac-8563-4e5934642ec7"></iframe></div>
			<div class="col-md-4"><iframe style="border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="340" height="340" src="https://charts.mongodb.com/charts-lynn-qercf/embed/charts?id=9290c2e3-7239-4d75-9cd2-3af0b544a5a9&tenant=4b02172e-aa94-4cac-8563-4e5934642ec7"></iframe></div>
		</div> 
		
		<hr>
		
	</div>
</div>
